.jukebox {
  position: absolute;
  top: 60px;
  right: 40px;

  &__container {
    width: 300px;
  }

  &__song-marquee {
    width: max-content;
    margin: 0 20px 0 0;
    padding-bottom: 2px;
  }

  &__emphasis {
    font-weight: bold;
  }

  &__controls {
    display: flex;
    flex-direction: row;
  }

  &__skip-song-button {
    font-size: 1.5em;
    line-height: 0;
    padding: 3px;
    border-style: outset;
    background: white;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }

    &:active {
      border-style: inset;
    }
  }

  &__view-playlist-button {
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 3px;
    text-decoration: underline;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
  }

  &__view-playlist-toggle-icon {
    font-size: 1.3em;
    margin: 0 3px;
  }

  &__playlist {
    max-height: 139px;
    overflow-y: scroll;
    background-color: #ddd;

    &--hidden {
      display: none;
    }
  }

  &__playlist-item {
    padding: 3px 0px 3px 6px;

    &--now-playing-icon {
      float: right;
      font-size: 1.5em;
      margin: 3px 5px 0 0;
      background-color: none;
    }

    &--song-name {
      font-weight: bold;

      a {
        color: black;

        &:hover {
          color: #667; //Not today, Sa7an
        }

        &:visited {
          color: black;

          &:hover {
            color: #665; //Not today, 5atan
          }
        }
      }
    }

    &--song-artist {
      font-size: 90%;
      font-style: italic;
    }

  }

}